// Specific CSS for your home-page
.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
}

 .mobile-view {
    display: inline-block;
    color: #2C343F;
    font-size: 16px;
    padding-left: 15px;
}

.actions-right {
    overflow: visible;
    float: right;
}

.date-controls {
    margin-right: 15px;
    display: inline-block;
    .fas {
        color:  #2C343F;
    }
    .btn {
        padding: 3px;
        width: 28px;
     }
}

.heading-summary {
    margin-top: 10px;
    margin-bottom: 3px;

    h2 {
        font-size: 21px;
        font-weight: 700;
    }
    .btn-primary {
        float: right;
    }
    .active {
        color: white;
        background-color: #2C343F;
        z-index: 0 !important;
    }
}

.schedule-hours {
    display: flex;
    flex-flow: wrap;
    padding-bottom: 3px;
    p {
        margin: 0px 0px 10px 0px;
    }
}

.border-text-top {
    border-top: 1px solid #2C343F;
    padding-top: 10px;
}