// Specific CSS for your home-page
.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
}

 .mobile-view {
    display: inline-block;
    color: #2C343F;
    font-size: 16px;
    padding-left: 15px;
}

.actions-right {
    overflow: visible;
    float: right;
}

hr {
    border: 1px solid white;
    margin-top: 0;
    margin-bottom: 15px;
    width: 90%;
}

.date-controls {
    margin-right: 15px;
    display: inline-block;
    .fas {
        color:  #2C343F;
    }
    .btn {
        padding: 3px;
        width: 28px;
     }
}

.heading-summary {
    margin-top: 10px;
    margin-bottom: 3px;
    h2 {
        font-size: 21px;
        font-weight: 700;
    }
}
