// Specific CSS for your home-page
.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
}

.heading-summary {
    margin-top: 10px;
    margin-bottom: 12px;

    h2 {
        font-size: 21px;
        font-weight: 700;
    }
    .btn-primary {
        float: right;
    }
    .active {
        color: white;
        background-color: #2C343F;
        z-index: 0 !important;
    }
}

.border-text-top {
    border-top: 1px solid #2C343F;
    padding-top: 10px;
}