<nav class="navbar-static-top">
  <div class="navbar">
    <a class="sidebar-toggle" data-toggle="offcanvas" href="#" role="button">
      <i class="fas fa-bars"></i>
    </a>
    <div class="nav-user">
        <i class="fas fa-user"></i>
      </div>
  </div>
</nav>

<div class="content-wrapper">
    <div class="nav-timetable">
      <span class="mobile-view"> Fri 22nd Jan </span>
      <div class="actions-right">
        <div class="date-controls">
          <i class="fas fa-angle-left"></i>
          <i class="fas fa-angle-right"></i>
        </div>
        <div class="date-controls">
          <i class="fas fa-angle-double-left"></i>
          <i class="fas fa-angle-double-right"></i>
        </div>
        <div class="date-controls">
          <div class="btn">
            <i class="fa fa-ellipsis-v"></i>
          </div>
        </div>        
      </div>
    </div>

  <section class="content">
    <div class="dashboard-content">
      <div class="heading-summary">
        <h2>Pages#home</h2>
        <p>Find me in app/views/pages/home.html.erb</p>
      </div>

<%# <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div> %>

        <div class="collapsable">
        <div class="collapsable-header">
         <button><span class="header"><i class="fas fa-calendar-check"></i><h4>Next Appointments & Breaks</h4></span>
          <span class="icon"><i class="fas fa-chevron-down"></i></span></button>
        </div>
          <p class="collapsable-content">fhskjfhjsdh</p>
        </div>

        <div class="collapsable">
          <h4><button>Click me! 1</button></h4>
          <p class="collapsable-content">fhskjfhjsdhfsdgfsdfsdfds</p>
        </div>

        <div class="collapsable">
          <h4><button>Click me! 2</button></h4>
          <p class="collapsable-content">fhskjfhjsdhhfhdtybthrthtrreytryeytrytrytrytre</p>
        </div>

        <div class="collapsable">
          <h4><button>Click me! 3</button></h4>
          <p class="collapsable-content">fhskjfhjsdh3612748623784632467823648</p>
        </div>

      <div class="revenue-container">
        <div class="row pb-2">
          <div class="col-md-4 py-1">
            <div class="graph-card">
                <div class="row mt-2 mb-1">
                  <div class="col">
                    <div class="header-info">
                      <i class="fas fa-rocket"></i><h4>Revenue</h4>
                    </div>

                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
                      <button type="button" class="btn active">Day</button>
                      <button type="button" class="btn inactive">Week</button>
                      <button type="button" class="btn inactive">Month</button>
                    </div>

                  </div>
                </div>
                  <hr>

                  <div class="col-xs-12">
                    <div class="revenue-progress progress">
                      <div class="progress-bar progress-earnings" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                      <div class="progress-bar progress-tips" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="percentage-message-container col-xs-6 col-md-2">
                    <div class="percentage-message-box-intro ">
                      <h2>£540</h2>
                      <p>Expected Total Today</p>
                    </div>
                  </div>

                  <div class="card-body">
                    <canvas id="chDonut1"></canvas>
                  </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    
  </section>
</div>


