<nav class="navbar-static-top">
  <div class="navbar">
    <a class="sidebar-toggle" data-toggle="offcanvas" href="#" role="button">
      <i class="fas fa-bars"></i>
    </a>
    <div class="nav-user">
        <i class="fas fa-user"></i>
      </div>
  </div>
</nav>

<div class="content-wrapper">
    <div class="nav-timetable">
      <span class="mobile-view"> Fri 22nd Jan </span>
      <div class="actions-right">
        <div class="date-controls">
          <i class="fas fa-angle-left"></i>
          <i class="fas fa-angle-right"></i>
        </div>
        <div class="date-controls">
          <i class="fas fa-angle-double-left"></i>
          <i class="fas fa-angle-double-right"></i>
        </div>
        <div class="date-controls">
          <div class="btn">
            <i class="fa fa-ellipsis-v"></i>
          </div>
        </div>        
      </div>
    </div>

  <section class="content">
    <div class="dashboard-content">

      <div class="heading-summary">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn active">Today</button>
          <button type="button" class="btn">Week</button>
        </div>

        <button type="button" id="showNextAppointment" class="btn btn-primary"><i class="fas fa-calendar-check"></i>Next</button>
      </div>
     

        <div class="collapsable">
          <div class="collapsable-header">
            <span class="info-box-icon"><i class="fas fa-calendar-day"></i></span>
            <button><span class="header"><h4>Today</h4></span>
            <span class="icon"><i class="fas fa-chevron-down"></i></span></button>
          </div>

          <div class="collapsable-content">
            <div class="row">
              <div class="schedule-timetable">

                <div class="timetable-hour">
                  <div class="timetable-content">
                    <div class="schedule-infos">
                      <i class="far fa-clock"></i><p><strong>09:00-12:00</strong> | Jenny Bose | Haircut & Dye </p>
                    </div>
                    <div class="button-infos">
                      <span class="btn-pill paid-online"><i class="fas fa-coins"></i>Online</span>
                      <span class="btn-pill time-active">£68</span>
                      <span class="btn-cancellation"><i class="fa fa-ban"></i></span>
                    </div>
                  </div>
                </div>

                <div class="timetable-hour ongoing">
                  <div class="timetable-content">
                    <div class="schedule-infos">
                      <i class="far fa-clock"></i><p><strong>12:00-13:00</strong> | Jenny Bose | Haircut & Dye </p>
                    </div>
                    <div class="button-infos">
                      <span class="btn-pill unpaid"><i class="fas fa-walking"></i>Unpaid</span>
                      <span class="btn-pill time-active">£68</span>
                      <span class="btn-cancellation"><i class="fa fa-ban"></i></span>
                    </div>
                  </div>
                </div>
                 
                  <div class="free-time">
                    <div class="schedule-infos">
                      <p><strong>13:00-14:00</strong> | Free Time </p>
                    </div>
                  </div>

                <div class="timetable-hour" id="fakeNextAppointment">
                  <div class="timetable-content">
                    <div class="schedule-infos">
                      <i class="far fa-clock"></i><p><strong>14:00-15:00</strong> | Jenny Bose | Haircut & Dye </p>
                    </div>
                    <div class="button-infos">
                      <span class="btn-pill unpaid"><i class="fas fa-walking"></i>Unpaid</span>
                      <span class="btn-pill time-active">£68</span>
                      <span class="btn-cancellation"><i class="fa fa-ban"></i></span>
                    </div>
                  </div>
                </div>

                <div class="timetable-hour">
                  <div class="timetable-content">
                    <div class="schedule-infos">
                      <i class="far fa-clock"></i><p><strong>15:00-16:00</strong> | Jenny Bose | Haircut & Dye </p>
                    </div>
                    <div class="button-infos">
                      <span class="btn-pill paid-online"><i class="fas fa-coins"></i>Online</span>
                      <span class="btn-pill time-active">£68</span>
                      <span class="btn-cancellation"><i class="fa fa-ban"></i></span>
                    </div>
                  </div>
                </div>

                 <div class="free-time">
                    <div class="schedule-infos">
                      <p><strong>16:00-16:15</strong> | Free Time </p>
                    </div>
                  </div>

                <div class="timetable-hour">
                  <div class="timetable-content">
                    <div class="schedule-infos">
                      <i class="far fa-clock"></i><p><strong>16:15-18:00</strong> | Jenny Bose | Haircut & Dye </p>
                    </div>
                    <div class="button-infos">
                      <span class="btn-pill paid-online"><i class="fas fa-coins"></i>Online</span>
                      <span class="btn-pill time-active">£68</span>
                      <span class="btn-cancellation"><i class="fa fa-ban"></i></span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="collapsable">
          <div class="collapsable-header">
          <span class="info-box-icon"><i class="fas fa-calendar-check"></i></span>
            
            <button><span class="header"><h4>Next Appointments</h4></span>
            <span class="icon"><i class="fas fa-chevron-down"></i></span></button>
          </div>
          <div class="collapsable-content">
              <p><strong>Appointments</strong></p> 
                <div class="schedule-hours">
                  <span class="btn-pill disabled">09:00</span>
                  <span class="btn-pill time-active ">12:00</span>
                  <span class="btn-pill time-active ">14:00</span>
                  <span class="btn-pill time-active ">15:00</span>
                  <span class="btn-pill time-active ">16:15</span>
                  <span class="btn-pill time-active ">18:30</span>
                </div>
              <p class="border-text-top"><strong>Break Times</strong></p>
                  <div class="schedule-hours">
                  <span class="btn-pill time-active ">13:00</span>
                  <span class="btn-pill time-active ">16:00</span>
                  <span class="btn-pill time-active ">18:00</span>
                </div>
          </div>
        </div>


      <div class="revenue-container">
        <div class="row pb-2">
          <div class="col-sm-12 col-md-8 col-lg-6 py-1">
              <div class="graph-card">
                  <div class="row mt-2 mb-1">
                      <div class="col">
                        <div class="header-info">
                          <i class="fas fa-rocket"></i><h4>Revenue</h4>
                        </div>

                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
                          <button type="button" class="btn active">Day</button>
                          <button type="button" class="btn inactive">Week</button>
                          <button type="button" class="btn inactive">Month</button>
                        </div>
                      </div>
                  </div>
                  <hr>

                  <div class="col-12">
                    <div class="revenue-progress progress">
                      <div class="progress-bar progress-earnings" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                      <div class="progress-bar progress-tips" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="percentage-message-container col-sm-12 col-md-6 col-lg-4">
                    <div class="percentage-message-box-intro ">
                      <h2>£540</h2>
                      <p>Expected Total Today</p>
                    </div>
                  </div>

                  <div class="card-body">
                    <canvas id="chDonut1"></canvas>
                  </div>
              </div>
          </div>
        </div>
      </div>


      <div class="collapsable">
        <div class="collapsable-header">
          <span class="info-box-icon"><i class="fas fa-calendar-alt"></i></i></span>
          <button><span class="header"><h4>Weekly Schedule</h4></span>
          <span class="icon"><i class="fas fa-chevron-down"></i></span></button>
        </div>
        <div class="collapsable-content">
          <p><strong>This is the first item.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element.</p>
        </div>
      </div>

    </div>
  </section>
</div>


