<nav class="navbar navbar-static-top">
  <a class="sidebar-toggle" data-toggle="offcanvas" href="#" role="button">
    <i class="fas fa-bars"></i>
  </a>
  <div class="nav-user">
      <i class="fas fa-user"></i>
    </div>
</nav>

<div class="content-wrapper">
  <section class="content">
    <div class="nav-timetable">
      <span class="mobile-view"> Fri 22nd Jan </span>
      <div class="actions-right">
        <div class="date-controls">
          <i class="fas fa-angle-left"></i>
          <i class="fas fa-angle-right"></i>
        </div>
        <div class="date-controls">
          <i class="fas fa-angle-double-left"></i>
          <i class="fas fa-angle-double-right"></i>
        </div>
        <div class="date-controls">
          <div class="btn">
            <i class="fa fa-ellipsis-v"></i>
          </div>
        </div>        
      </div>
    </div>

    <div class="dashboard-content">
      <div class="heading-summary">
         <h2>Pages#home</h2>
          <p>Find me in app/views/pages/home.html.erb</p>
      </div>
    
    </div>
    
  </section>
</div>


