<nav class="navbar-static-top">
  <div class="navbar">
    <a class="sidebar-toggle" data-toggle="offcanvas" href="#" role="button">
      <i class="fas fa-bars"></i>
    </a>
    <div class="nav-user">
        <i class="fas fa-user"></i>
      </div>
  </div>
</nav>

<div class="content-wrapper">
    <div class="nav-timetable">
      <span class="mobile-view"> Fri 22nd Jan </span>
      <div class="actions-right">
        <div class="date-controls">
          <i class="fas fa-angle-left"></i>
          <i class="fas fa-angle-right"></i>
        </div>
        <div class="date-controls">
          <i class="fas fa-angle-double-left"></i>
          <i class="fas fa-angle-double-right"></i>
        </div>
        <div class="date-controls">
          <div class="btn">
            <i class="fa fa-ellipsis-v"></i>
          </div>
        </div>        
      </div>
    </div>

  <section class="content">
    <div class="dashboard-content">
      <div class="heading-summary">
         <h2>Pages#home</h2>
          <p>Find me in app/views/pages/home.html.erb</p>
      </div>

      <div class="revenue-container">
        <div class="row my-3">
            <div class="col">
                <h4>Bootstrap 4 Chart.js</h4>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-md-4 py-1">
                <div class="card">
                    <div class="card-body">
                        <canvas id="chDonut1"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-1">
                <div class="card">
                    <div class="card-body">
                        <canvas id="chDonut2"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-1">
                <div class="card">
                    <div class="card-body">
                        <canvas id="chDonut3"></canvas>
                    </div>
                </div>
            </div>
        </div>
      </div>
    
    </div>
    
  </section>
</div>


