.btn {
    border-color: #B8C7CE;
    background-color: #B8C7CE;
    border-radius: 2px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
 }