.btn {
    border-color: #2C343F;
    background-color: white;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    &:hover {
        color: white;
        background-color: #2C343F;
    }
    z-index: 0 !important;
    .active {
        z-index: 0 !important;
      }
 }

 .btn-primary {
    border-radius: 3px;
    color: white;
    background-color: #128afa;
    border: 1px solid #128afa;
    i { 
        padding-right: 6px;
        font-size: 14px;
    }
    &:hover {
        border: 1px solid #128afa;
        color: #128afa;
        background-color: white;
        i { 
            color: #128afa;
        }
    }
}

.cancel {
    float: right;
    margin-right: 8px;
    .btn-cancellation {
        // position: relative;
        // left: 52%;
        border-radius: 3px;
        border: 1px solid #2C343F;
        padding: 3px 5px 3px 5px;
        cursor: pointer;
        &:hover {
            background-color: #2C343F;
            color: white;
        }
    }
}

.btn-pill {
    border-radius: 28px;
    margin: 0px 9px 8px 0px;
    padding: 3px 15px;
}
.disabled {
    border: 1px solid #B8C7CE;
    background-color: #B8C7CE;
    color: #718083;
}
.time-active {
        cursor: pointer;
        border: 1px solid #2C343F;
        color: #2C343F;
        
        &:hover {
            background-color: #2C343F;
            color: white;
        }
}
