.collapsable {
    border: 1px solid #222D32;
    border-radius: 3px;
    margin-bottom: 15px;

    &.show {
        .collapsable-content {
            display: block;
            padding: 1rem 1rem 0px 1rem;
            .row {
                margin: -5px -3px 10px -3px;
            }
        }
        .collapsable-header {
            background-color: #262E37;
            border-bottom: 1px solid #222D32;
            h4 {
                color: white;
            }
            .fas {
                color: white;
            }
            
        }
    }

    .collapsable-content {
        display: none;
    }

    button {
        border: none;
        background-color: transparent;
        width: 100%;
        display: contents;
    }
}

.collapsable-header{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 1.25rem 0px 0px;
    color: #2C343F;
    // justify-content: space-between;

    h4 {
        margin: 0;
    }
    .fas {
        color:  #2C343F;
    }
    .header {
        display: inline-flex;
        align-items: center;
        margin-left: 10px;
        .fas.fa-calendar-check {
            padding-right: 5px;
            font-size: 20px;
        }
    }
    .icon {
        position: absolute;
        left: 90%;
    }
}

.info-box-icon {
    margin: 0;
    padding: 19px;
    // border-top-left-radius: 3px;
    // border-top-right-radius: 0px;
    // border-bottom-right-radius: 0;
    // border-bottom-left-radius: 3px;
    float: left;
    height: 100%;
    width: 50px;
    text-align: center;
    font-size: 20px;
    background-color: #262E37;
    display: flex;
    align-items: center;
    justify-content: center;

    .fas {
        color:  white;
    }
}
