.navbar {
  position: relative;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: #17202d;
}

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
  position: fixed;
  top: 0;
  width: 100vw;
}

.nav-user {
  float: right;
}

.fas {
   color: white;
}

.nav-timetable {
  background-color: white;
  z-index: 1;
  overflow: visible;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 50px;
  height: 74px;
  color: #2C343F;
  font-size: 21px;
  padding: 15px 15px;
  display: block;
  margin: -15px -15px 0;
  border-bottom: 1px solid #CED8DB;
}

@media (max-width: 767px) {
.navbar {
  margin: 0;
  width: 100%;
  float: none;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}