.schedule-hours {
    display: flex;
    flex-flow: wrap;
    padding-bottom: 3px;
    p {
        margin: 0px 0px 10px 0px;
    }
}

.schedule-timetable {
    width: 100%;

    
    .timetable-hour{
        border: 1px solid #222D32;
        border-radius: 3px;
        margin-bottom: 6px;
    }
    
    .ongoing {
        transition: background-color 0.5s ease-in 0s;
        background: #161D27;
        color: white; 
        .time-active {
            border: 1px solid white;
            color: white;
            &:hover {
                background-color: white;
                color: #2C343F;
            }
        }
        .btn-cancellation {
            border: 1px solid white;
            cursor: pointer;
            &:hover {
                background-color: white;
                color: #2C343F;
            }
        }
    }

    .previous {
        border: 1px solid #B8C7CE;
        background-color: white;
        color: #838E94;

        .btn-pill {
            border: 1px solid #B8C7CE;
            background-color: #B8C7CE;
            color: white;
        }
        .btn-cancellation {
            border: 1px solid #B8C7CE;
        }
    }
}

.timetable-content {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    padding: 10px 0px 9px 10px;
    /* justify-content: center; */
    /* min-height: 80px; */
    p {
        margin-bottom: 6px;
    }
    .schedule-infos {
        display: flex;
        align-items: baseline;
        .far {
            margin-right: 5px;
        }
    }
}

.free-time {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    background: #D8E8F1;
    border-radius: 3px;
    margin-bottom: 6px;
    .schedule-infos {
        color: #718083;
        p {
            margin-bottom: 9px;
        }
    }
}

.button-infos {
    width: 100%;
    .unpaid {
        border: 1px solid #FF9C06;
        background-color: #FF9C06;
        color: white;
    }
    .paid-online {
        border: 1px solid #00B800;
        background-color: #00B800;
        color: white;
    }
    .disabled {
        border: 1px solid #B8C7CE;
        background-color: #B8C7CE;
        color: #718083;
    }
    .fas {
        margin-right: 6px;
        margin-left: -2px;
    }
}

// @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
// @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.next-appointment {
    border: 1px solid #128AFA !important;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    // -webkit-animation: fadeIn 1s ease-in-out 0s;
    // -moz-animation: fadeIn 1s ease-in-out 0s;
    // -o-animation: fadeIn 1s ease-in-out 0s;
    animation: fadeIn 4s ease-in-out 0s;
}

// .fadeIn {
//     -webkit-animation: fadeIn 1s ease-in-out 0s;
//     -moz-animation: fadeIn 1s ease-in-out 0s;
//     -o-animation: fadeIn 1s ease-in-out 0s;
//      animation: fadeIn 1s ease-in-out 0s;
//   }

